{% extends 'adminT.html.twig' %}

{% block title %}Produit index{% endblock %}
{% block content %}
{% block body %}
    <h1>Produit </h1>

    <table class="table">
        <thead>
            <tr>
               
                  <th>category</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                 <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
               
                <td>{{ produit.category.label}}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.price }}</td>
                <td>{{ produit.description }}</td>
              <td><img class="img-responsive" src="{{ asset('uploads/peintures/') ~ produit.file}}" width="100" height="100"></td>
                {# :<td>{{ produit.file }}</td> #}
                  
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}"> edit </a>
                     <a href="{{ path('produit_delete', {'id': produit.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
{% endblock %}
