{{ form_start (form) }}


<fieldset>
        {{ form_widget(form.Numc,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Numero Commande'}})}}
    </fieldset>

<fieldset>
    {{ form_widget(form.adresselivraison,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Adresse de livraison'}})}}
</fieldset>
<fieldset>
    {{ form_widget(form.ville,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Ville '}})}}
</fieldset>

<fieldset>
    {{ form_row (form.datecommande, {'attr':{'placeholder':''}}) }}
</fieldset>
<br><br>


<button type="submit" class="btn btn-success">Create</button>
{{ form_end (form) }}